<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="商品" IconFont="_Columns">
  
    <TreeNode Text="商品列表" NavigateUrl="~/Admin/Goods/Index" IconFont="_Table">
    </TreeNode>
    <TreeNode Text="商品类别" NavigateUrl="~/Admin/Product/Category" IconFont="_Bookmark">
    </TreeNode>
    <TreeNode Text="品牌管理" NavigateUrl="~/Admin/Brands/Brands" IconFont="_Tag">
    </TreeNode>
  </TreeNode>

  <TreeNode Text="页面" IconFont="_Layout">

    <TreeNode Text="轮播图片" NavigateUrl="~/Admin/Banner/Index" IconFont="_Pic">
    </TreeNode>
    <TreeNode Text="文章类别" NavigateUrl="~/Admin/Article/ArticleCats" IconFont="_Pencil">
    </TreeNode>
    <TreeNode Text="文章列表" NavigateUrl="~/Admin/Article/Article" IconFont="_Edit">
    </TreeNode>
    <!--<TreeNode Text="登录页面（验证码）" NavigateUrl="~/Basic/LoginCaptcha" Icon="User">
    </TreeNode>-->
  </TreeNode>

  <TreeNode Text="配置" IconFont="_Gear">

    <TreeNode Text="基本配置" NavigateUrl="~/Admin/SysConfigs/Index" IconFont="_Code">
    </TreeNode>
     <!-- <TreeNode Text="同步爬虫商品" NavigateUrl="~/Admin/SysConfigs/ShopSpider" IconFont="_Train">  -->
     <!-- </TreeNode>  -->
  </TreeNode>

</Tree>