<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="商品" IconFont="_Columns">
  
    <TreeNode Text="商品列表" NavigateUrl="~/Admin/Product/Index" IconFont="_Table">
    </TreeNode>
    <TreeNode Text="商品类别" NavigateUrl="~/Admin/Product/Category" IconFont="_Bookmark">
    </TreeNode>
    <TreeNode Text="品牌管理" NavigateUrl="~/Admin/Product/Brand" IconFont="_Tag">
    </TreeNode>
  </TreeNode>

  <TreeNode Text="页面" IconFont="_Layout">

    <TreeNode Text="广告" NavigateUrl="~/Basic/Hello" IconFont="_Pic">
    </TreeNode>
    <TreeNode Text="文章类别" NavigateUrl="~/Basic/Login" IconFont="_Pencil">
    </TreeNode>
    <TreeNode Text="文章列表" NavigateUrl="~/Basic/LoginEnterKey" IconFont="_Edit">
    </TreeNode>
    <!--<TreeNode Text="登录页面（验证码）" NavigateUrl="~/Basic/LoginCaptcha" Icon="User">
    </TreeNode>-->
  </TreeNode>

  <TreeNode Text="配置" IconFont="_Gear">

    <TreeNode Text="基本配置" NavigateUrl="~/Basic/Hello" IconFont="_Pencil">
    </TreeNode>

  </TreeNode>

</Tree>