@charset "utf-8";



.t_name {
    font-size: 14px;
    color: #333333;
    line-height: 38px;
    float: left;
}


.xn_h_12_wrap {
    float: right;
}

    .xn_h_12_wrap a {
        color: #333333;
        font-size: 14px;
    }

        .xn_h_12_wrap a:hover {
            color: #03999a;
        }

.xn_h_12_redlogin {
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 0;
}

    .xn_h_12_redlogin li {
        height: 38px;
        float: left;
        margin-right: 13px;
    }

.xn_h_12_onlogin {
    height: 38px;
    line-height: 38px;
}

    .xn_h_12_onlogin li {
        height: 38px;
        float: left;
        margin: 0 5px;
    }

#EIMS_C_40000_normallName {
    display: none;
}

.xn_h_12_redlogin li a {
    border-right: 1px solid #646464;
    padding-right: 10px;
}


.xn_h_10_wrap {
    width: 100%;
}

.xn_h_10_mswenzi {
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: none;
}

.xn_h_10_wbox {
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding-left: 20px;
}

.xn_h_10_key {
    float: left;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}

    .xn_h_10_key a {
        color: #666666;
    }

        .xn_h_10_key a:hover {
            color: #e3201e;
        }


.EIMS_C_40007_1_wrap {
    font-size: 18px;
    color: #ffffff;
    overflow: hidden;
}

.EIMS_C_40007_1_cartn {
    position: relative;
    overflow: hidden;
}

    .EIMS_C_40007_1_cartn span {
        float: left;
    }

.EIMS_C_40007_1_carimg {
    display: block;
    margin: 10px 15px 0 20px;
    float: left;
}

    .EIMS_C_40007_1_carimg img {
        width: 20px;
        height: 19px;
        border: 0;
        cursor: pointer;
    }

.EIMS_C_40007_1_cartorder {
    color: #ffffff;
}

.EIMS_C_40007_1_cartname:hover {
    cursor: pointer;
}


.xn_h_35_wrap {
    width: 220px;
    height: 45px;
    float: left;
}

.xn_h_35_btn {
    width: 220px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    position: relative;
    background-color: #03999a;
}


.xn_h_35_inner {
    width: 220px;
    height: 600px;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    display: none;
    top: 2px;
}

.index_body .xn_h_35_inner {
    display: block !important;
}

.xn_h_35_li {
    width: 220px;
    height: 54px;
    display: block;
}

    .xn_h_35_li .xn_h_35_title {
        height: 54px;
        overflow: hidden;
        display: block;
        width: 210px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(255,255,255,0.35);
    }


    .xn_h_35_li:hover, .xn_h_35_li.xn_h_35_licur {
        background-color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

.xn_h_35_ul li ul {
    width: 980px;
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    left: 220px;
    top: 0;
    background-color: #FFF !important;
    z-index: 9993;
    display: none;
}

.xn_h_35_ul li:hover ul {
    display: block;
}

.xn_h_35_ul li ul li {
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    min-height: 40px;
}

.xn_h_35_c2title {
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    display: inline-block;
    float: left;
    font: bold 12px "Microsoft YaHei","黑体",sans-serif;
    padding-top: 10px;
    width: 138px;
    text-align: right;
}

    .xn_h_35_c2title a {
        font-size: 16px;
        color: #333;
    }

        .xn_h_35_c2title a:hover {
            color: #03999a;
        }

.xn_h_35_c3box {
    height: auto;
    overflow: hidden;
    margin-left: 10px;
    width: 760px;
    *+width: 750px;
    float: left;
}

    .xn_h_35_c3box span {
        display: inline-block;
        font: 14px/40px "Microsoft YaHei","黑体",sans-serif;
        padding: 0 9px 0 0;
        float: left;
    }

        .xn_h_35_c3box span a {
            font-size: 14px;
            border-left: 1px solid #dddddd;
            color: #737373;
            font-weight: 300;
            padding-left: 8px;
        }

            .xn_h_35_c3box span a:hover {
                color: #03999a;
            }

.xn_h_35_c2li_div {
    overflow: hidden;
    margin-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 15px;
}


.xn_n_14_wrap {
    position: relative;
    float: left;
    height: 45px;
    width: 980px;
    text-align: center;
    overflow: hidden;
}

.xn_n_14_wrap_main {
    width: 100%;
    height: 45px;
}

    .xn_n_14_wrap_main a {
        font-size: 16px;
        color: #000000;
        font-weight: bold;
    }

    .xn_n_14_wrap_main ul > li {
        height: 45px;
        float: left;
        margin: 0 40px;
    }

        .xn_n_14_wrap_main ul > li a {
            line-height: 45px;
            display: block;
            height: 45px;
        }

.xn_n_14_wrap_menu1_2 > a, .xn_n_14_wrap_menu1_cur > a {
    color: #03999a;
}

.xn_n_14_wrap_main ul li ul {
    width: 100%;
    overflow: hidden;
    display: none !important;
}




.n_content_right_name_r ul li {
    float: right;
    line-height: 56px;
}

    .n_content_right_name_r ul li a {
        color: #888888;
    }

        .n_content_right_name_r ul li a:hover {
            color: #e3201e;
        }

    .n_content_right_name_r ul li img {
        margin-right: 12px;
        margin-top: 22px;
        *margin-top: 0;
    }


.xn_c_products_51_wrap {
    width: 1198px;
    height: auto;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    margin: 0 auto;
    background: #FFF;
    text-align: center;
}

.xn_c_products_51_wrapul {
    width: 1048px;
    padding-left: 150px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.xn_c_products_51_wrap a {
    font-weight: normal;
    color: #666666;
}

.xn_c_products_51_wrap li {
    float: left;
    height: 100%;
}

.xn_c_products_51_oneul {
    width: 100%;
    height: auto;
    float: left;
}

.xn_c_products_51_onenotice {
    height: 47px !important;
    line-height: 47px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    font-size: 16px;
    margin-top: 0px;
    color: #333333;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fdfcfc;
}

.xn_c_products_51_m1, .nav_menu1 {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    padding: 0 15px;
}

    .xn_c_products_51_m1 a, .nav_menu1 a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #333333;
        margin-top: 0px;
        font-weight: bold;
    }

        .xn_c_products_51_m1 a:hover, .nav_menu1 a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            color: #03999a;
            background: none
        }

.xn_c_products_51_m1_cur {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    padding: 0 15px;
}

    .xn_c_products_51_m1_cur a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #03999a;
        margin-top: 0px;
        font-weight: bold;
    }

        .xn_c_products_51_m1_cur a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            background: none;
            color: #03999a;
        }

.xn_c_products_51_m1_2 {
    text-align: center;
    font-size: 13px;
    padding: 0 15px;
}

    .xn_c_products_51_m1_2 a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #03999a;
        display: block;
        font-weight: bold;
    }

        .xn_c_products_51_m1_2 a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            background: none;
            color: #03999a
        }

.xn_c_products_51_twoul {
    height: auto;
    position: absolute;
    top: 80px;
    left: 150px;
    width: 1048px;
    border-top: 1px solid #f0f0f0;
    background-color: #fdfcfc;
}

.xn_c_products_51_twonotice {
    height: 47px;
    line-height: 47px;
    text-align: right;
    position: absolute;
    left: -150px;
    top: 0px;
    width: 150px;
    font-size: 13px;
    margin-top: 0px;
    color: #fdfcfc;
    background-color: #fdfcfc;
    border-bottom: 1px solid #fdfcfc;
}

.xn_c_products_51_m2 {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    padding: 0 15px;
}

    .xn_c_products_51_m2 a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #333333;
        font-weight: normal;
    }

        .xn_c_products_51_m2 a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            background: none;
            color: #03999a;
        }

.xn_c_products_51_m2_cur {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    padding: 0 15px;
}

    .xn_c_products_51_m2_cur a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #03999a;
        margin-top: 0px;
        font-weight: normal;
    }

        .xn_c_products_51_m2_cur a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            background: none;
            color: #03999a;
            ;
        }

.xn_c_products_51_m2_2 {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    padding: 0 30px;
    font-weight: normal;
}

    .xn_c_products_51_m2_2 a {
        width: 100%;
        height: 47px;
        line-height: 47px;
        background: none;
        color: #03999a;
        margin-top: 0px;
        font-weight: normal;
    }

        .xn_c_products_51_m2_2 a:hover {
            width: 100%;
            height: 47px;
            line-height: 47px;
            background: none;
            color: #03999a;
        }

.xn_c_products_51_threeul {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 47px;
    border-top: 1px solid #f0f0f0;
}

.xn_c_products_51_threenotice {
    height: 47px;
    line-height: 47px;
    text-align: right;
    position: absolute;
    left: -150px;
    top: 0px;
    width: 150px;
    font-size: 13px;
    margin-top: 0px;
    color: #fdfcfc;
    background-color: #fdfcfc;
}

.xn_c_products_51_m3 {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    padding: 0 15px;
}

    .xn_c_products_51_m3 a {
        width: 100%;
        height: 46px;
        line-height: 46px;
        background: none;
        color: #666;
        font-weight: normal;
    }

        .xn_c_products_51_m3 a:hover {
            width: 100%;
            background: none;
            color: #03999a;
        }

.xn_c_products_51_m3_cur {
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
}

    .xn_c_products_51_m3_cur a {
        width: 100%;
        height: 36px;
        line-height: 36px;
        background: none;
        color: #03999a;
        margin-top: 0px;
        font-weight: normal;
    }

        .xn_c_products_51_m3_cur a:hover {
            width: 100%;
            height: 36px;
            line-height: 36px;
            background: none;
            color: #03999a
        }


.products_body .n_content_right_name {
    width: 950px;
    overflow: hidden;
    margin: 20px auto;
}

.products_body .n_content_right_name_r {
    float: left;
    width: auto;
    margin-left: 15px;
}

.xn_c_products_50_wrap {
    width: 950px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}

.EIMS_C_40018_1_wrap {
}

.xn_c_products_50_PropertyKeyList {
    width: 948px;
    height: auto;
    overflow: hidden;
    border-bottom: none;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
}

.EIMS_C_40018_1_screen {
    width: 796px;
    overflow: hidden;
    line-height: 48px;
    font-size: 14px;
    color: #666666;
    border: 1px solid #f0f0f0;
    border-top: 0;
    background-color: #fdfcfc;
    position: relative;
    padding-left: 150px;
}

    .EIMS_C_40018_1_screen input {
        width: 30px;
        height: 40px;
    }

.xn_c_products_50_PropertyKeyList li {
    *float: left;
}

.xn_c_products_50_SalePropertyList {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: none;
    background-color: #fff;
}

    .xn_c_products_50_SalePropertyList li {
        *float: left;
    }

#EIMS_C_40018_1_pContainer, #EIMS_C_40018_1_actCondition {
    display: none;
}

.EIMS_C_40018_1_sctitle {
    font-size: 16px;
    cursor: pointer;
    color: #333333;
    width: 150px;
    text-align: center;
    background-color: #fdfcfc;
    position: absolute;
    left: 0;
}

.EIMS_C_40018_1_scvalue {
    float: left;
    cursor: pointer;
    color: #333333;
    padding: 0 15px;
}

.xn_c_products_50_screen {
    width: auto;
    height: 36px;
    overflow: hidden;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid #eaeaea;
    font-size: 14px;
    color: #333333;
    background-color: #fff;
    padding-left: 0;
}



.xn_c_products_50_px .EIMS_C_40018_1_sctitle {
    background: none;
    display: none;
}

.EIMS_C_40018_1_scishow {
    color: #3e79d7;
    float: left;
    padding: 0 15px;
    cursor: pointer;
}

    .EIMS_C_40018_1_scishow input {
        color: red;
    }


.EIMS_C_40018_1_screendpage {
    width: auto;
    height: 0px;
    position: relative;
    padding-left: 400px;
    font-size: 14px;
    line-height: 24px;
    display: none;
}

.EIMS_C_40018_1_section {
    height: 24px;
    overflow: hidden;
    position: absolute;
    top: -36px;
    left: 400px;
}

.EIMS_C_40018_1_secsetion {
    float: left;
    height: 24px;
    overflow: hidden;
}

    .EIMS_C_40018_1_secsetion span {
        float: left;
        height: 24px;
        display: inline-block;
        font-size: 12px;
        color: #2e3168;
    }

    .EIMS_C_40018_1_secsetion input {
        float: left;
        width: 52px;
        height: 22px;
        border: 1px solid #f2f2f2;
    }

.EIMS_C_40018_1_search {
    float: left;
    cursor: pointer;
    background: #f4f4f4;
    width: 40px;
    margin-left: 4px;
    height: 22px;
    border: 1px solid #dadada;
    color: #818181;
    text-align: center;
}

.EIMS_C_40018_1_secstock {
    float: left;
    cursor: pointer;
    background: #f4f4f4;
    margin-left: 4px;
    height: 22px;
    padding: 0 6px;
    border: 1px solid #dadada;
    color: #818181;
    text-align: center;
}

.EIMS_C_40018_1_section .EIMS_C_40018_1_secishow {
    background: #2e3168;
    color: #FFF;
}

.EIMS_C_40018_1_pageone {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
    max-width: 270px;
    position: absolute;
    top: -36px;
    right: 16px;
}

.EIMS_C_40018_1_pagetotal, .EIMS_C_40018_1_pageorder, .EIMS_C_40018_1_pagenext, .EIMS_C_40018_1_pagego {
    float: left;
}

.EIMS_C_40018_1_pageorder {
    padding: 0 14px;
}

.EIMS_C_40018_1_pagetext, #EIMS_C_40018_1_currentPage {
    color: red;
}

.EIMS_C_40018_1_sectitle {
    float: left;
}

.EIMS_C_40018_1_pageprev, .EIMS_C_40018_1_pagenext {
    cursor: pointer;
    background: #f3f3f3;
    color: #666666;
    display: inline-block;
    width: 56px;
    height: 22px;
    border: 1px solid #dadada;
    text-align: center;
}

.EIMS_C_40018_1_pagenext {
    margin-right: 4px;
}

.EIMS_C_40018_1_prolist {
    width: 1200px;
    height: auto;
    padding-top: 12px;
}

.xn_c_products_50_prolist {
    margin-bottom: 10px;
    overflow: hidden;
    width: 1220px \9;
}

.xn_c_products_50_proli {
    float: left;
    position: relative;
    width: 260px;
    height: 450px;
    margin: 0 10px 40px 0;
    border: 1px solid #dddddd;
    background-color: #fff;
    padding: 15px;
}

    .xn_c_products_50_proli:nth-child(4n) {
        margin-right: 0;
    }

.EIMS_C_40018_1_proRimg {
    width: 254px;
    height: 30px;
    position: absolute;
    left: 17px;
    top: 258px;
}

    .EIMS_C_40018_1_proRimg img {
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        margin-right: 10px;
    }

.EIMS_C_40018_1_proimg {
    width: 254px;
    height: 230px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 53px;
}

    .EIMS_C_40018_1_proimg img {
        width: 230px;
        height: 230px;
        border-style: none;
        transition: all 0.5s ease;
    }

    .EIMS_C_40018_1_proimg:hover img {
        transform: scale(1.08)
    }

.EIMS_C_40018_1_proname {
    width: 100%;
    line-height: 24px;
    overflow: hidden;
    margin: 40px 0 10px;
    height: 48px;
}

.EIMS_C_40018_1_prospec {
    font-size: 14px;
    color: #666666;
    line-height: 18px;
    height: 33px;
    overflow: hidden;
    margin-bottom: 20px;
}

    .EIMS_C_40018_1_prospec * {
        color: #666666 !important;
    }

.EIMS_C_40018_1_proname a {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.EIMS_C_40018_1_proprice {
    display: none;
}

.EIMS_C_40018_1_progocart {
    color: #fff;
    background: red;
    width: 70px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
}

.EIMS_C_40018_1_market {
    text-decoration: line-through;
}

.EIMS_C_40018_1_cartpopup {
    border: 1px solid #ddd;
    width: 500px;
    position: absolute;
    top: 340px;
    left: 450px;
    background: #fff;
    display: none;
}

.EIMS_C_40018_1_carttitle {
    padding: 30px 0;
    font-size: 16px;
    text-align: center;
}

.EIMS_C_40018_1_cartinput {
    text-align: center;
    padding-bottom: 30px;
}

    .EIMS_C_40018_1_cartinput input {
        padding: 0 10px;
        cursor: pointer;
    }

.EIMS_C_40018_1_cortupr {
    height: 35px;
    border: 1px solid #CCC;
    background-color: #CCC;
}

.EIMS_C_40018_1_close {
    float: right;
    width: 30px;
    height: 25px;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
}

.EIMS_C_40018_1_prolist .EIMS_C_40018_1_propage {
    padding-top: 0;
    padding-bottom: 48px;
    font-size: 14px;
}


.EIMS_C_40018_1_prolist .EIMS_C_40018_1_progo {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #4c4c4c;
    margin-left: 60px;
}

#EIMS_C_40018_1_gopage, #EIMS_C_40018_1_goto {
    width: 50px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #808080;
    text-align: center;
    background-color: transparent;
    color: #4c4c4c;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
    outline: none;
}

.EIMS_C_40023_1_wrap {
    width: 100%;
    font-size: 16px;
    line-height: 32px;
}

.EIMS_C_40023_1_BtnAddToCart {
    cursor: pointer;
    width: 110px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #03999a;
    color: #03999a;
    background-color: #fff;
    margin-right: 20px;
    font-size: 16px;
    font: 400 16px "微软雅黑" !important;
}

    .EIMS_C_40023_1_BtnAddToCart:hover {
        color: #fff;
        background-color: #03999a;
    }

.EIMS_C_40023_1_Btnbuy {
    width: 110px;
    height: 30px;
    border: 1px solid #e3201e;
    color: #e3201e;
    background-color: #fff;
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
}

    .EIMS_C_40023_1_Btnbuy:hover {
        font-weight: bold;
    }

.EIMS_C_40023_1_PopupDiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
}

.EIMS_C_40023_1_Pop {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background: #FFF;
}

.EIMS_C_40023_1_PopupDiv_Header {
    width: 100%;
    height: 24px;
    line-height: 24px;
    background: #ccc;
    border-bottom: 1px solid #ddd;
}

.EIMS_C_40023_1_PopupDiv_Title {
    float: left;
    padding-left: 10px;
}

.EIMS_C_40023_1_PopupDiv_Close {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.EIMS_C_40023_1_PopupDiv_Inner {
    width: 100%;
    height: 100%;
}
