@page "{ID}"
@model lxsShop.Web.Pages.article.IndexModel
@{
    Layout = "Shared/_Layout";

}


@section Css{
    <link rel="stylesheet" href="/Static/css/article.min.css?v=77c4989cad" type="text/css">
}

<div class="breadcrumb frame"><a href="/">首页</a> <small>/</small> @ViewData["Title2"] </div>

<div id="container" class="frame">
    <div class="news-main">
        
        
    @{
        if (Model._articles!=null)
        {
            <h1 class="article-detail-title">@Model._articles.articleTitle</h1>
            @* <p class="article-detail-info">发布日期:@Model._articles.CreateDate</p> *@
            <div class="article-detail-content">
                @Html.Raw(Model._articles.articleContent)
            </div>
        }
        else
        {
            @Html.Raw("没有找到文章.")
        }
    }

      




    </div>

    <div class="clear"></div>
</div>



@section Scripts{
   
    <script type="text/javascript">
        var ROOT = '/';
        var STATIC = '/Static/';
        var UID = 0;
        var IS_INDEX = 0;
        var SSID = 'jpor32sed1irlijq3a54q7bsp7';
    </script>


    <script src="/Static/js/forrun.min.js?v=ae9e0a639c"></script>
}
